.hero{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  width: 100%;
  height: 120vh;
  flex-direction: column;
  background-color: #000;
  color: #fff;
  text-align: center;
  background: linear-gradient(135deg, #10151c 0%, #000101 100%);
  overflow: hidden;
}

.parallax{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  padding-top: 10vh;
}

.sticky{
  position: fixed;
  top: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  padding-top: 10vh;
}

.heading{
  font-size: 100px;
  font-weight: 800;
  line-height: 100px;
  margin-bottom: 1rem;
  width: 19ch;
  font-family: 'Roboto', BlinkMacSystemFont, -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif;
}

.subHeading{
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  margin-bottom: 1rem;
  width: 60ch;
  font-family: 'Roboto', BlinkMacSystemFont, -apple-system, 'Segoe UI', Helvetica, Arial, sans-serif;
}

.light-blob-1,
.light-blob-2,
.light-blob-3 {
  position: absolute;
  border-radius: 50%;
  filter: blur(80px);
}

.light-blob-1 {
  width: 150px;
  height: 500px;
  background-image: radial-gradient(20.87% 50.41% at 50% 50%,rgba(91, 67, 228, 0.235) 0,rgba(91, 67, 228, 0.377) 99.48%);
  top: 10%;
  left: 25%;
  rotate: 10deg;
}

.light-blob-2 {
  width: 450px;
  height: 150px;
  background: rgba(231, 18, 206, 0.2);
  bottom: 30%;
  right: -10%;
  rotate: -45deg;
}

.light-blob-3 {
  width: 150px;
  height: 450px;
  background: rgba(75, 129, 255, 0.25);
  top: 25%;
  rotate: -15deg;
  right: auto;
  transform: translateX(20vw);
}

.customGridLayout {
  display: grid;
  grid-template-columns: repeat(15, minmax(89px, auto));
  grid-template-rows: repeat(8, minmax(55px, auto));
  gap: 34px 21px; 
  width: 100%;
  height: 100%;
  max-height: 500px;
  margin: -150px auto;
  /* outline: 1px solid red; */
}

.gridItem {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-align: center;
}

.things{
  inset: revert!important;
  height: 500px!important;
  bottom: 10px!important;
}

/* every vertical span unit represents 55 pixel and a horizontal span unit 110 pixels */

.gridItem1 {
  grid-area: 7 / 13 / span 1 / span 1;
  height: 73px;
  width: 220px;
}

.gridItem2 {
  grid-area: 1 / 2 / span 1 / span 1;
  height: 310px;
  width: 220px;
}

.gridItem3 {
  grid-area: 6 / 2 / span 1 / span 1;
  height: 100px;
  width: 150px;
}

.gridItem4 {
  grid-area: 5 / 1 / span 1 / span 1;
  height: 70px;
  width: 500px;
}

.gridItem5 {
  grid-area: 4 / 6 / span 1 / span 1;
  height: 165px;
  width: 550px;
}

.gridItem6 {
  grid-area: 4 / 12 / span 1 / span 1;
  height: 160px;
  width: 120px;
}

.gridItem7 {
  grid-area: 6 / 11 / span 1 / span 1;
  height: 80px;
  width: 540px;
}

.gridItem8 {
  grid-area: 6 / 3 / span 1 / span 1;
  height: 55px;
  width: 330px;
}

.gridItem9{
  grid-area: 1 / 13 / span 1 / span 1;
  height: 400px;
  width: 270px;
}

.gridItem6Container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

.horizontalScrollWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 800px;
  transform: rotate(-90deg) translate3d(75vh, 91vh, 0);
  transform-origin: center;
  padding: 0;
  height: 100vw;
  perspective: 1px;
  transform-style: preserve-3d;
  padding-bottom: 10rem;
}

.imgWrapper {
  transform: rotate(90deg);
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 5vw;
  transform-origin: 50% 50%;
  transform: rotate(90deg) translateZ(.1px) scale(0.9) translateX(0px) translateY(-3vh);
  transition: 1s;
  margin: 1rem;
}

.imgWrapper:hover {
  min-height: 35vh;
}
.external {
  overflow: hidden;
  /* height: 100vh; */
  width: 100vw;
}

.wrapper1{
  transform: rotate(90deg) translate3d(0, 0, 0);
}